 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="../style/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Taeyeon</title>
 </head>
 <body>
    <header>
      <img src="../imgs/logotae.png">
    </header>
    <div class="textest">
    <div class="text">
      <h1>Kim Taeyeon</h1>
      <P>Kim Taeyeon, mais conhecida na carreira musical apenas como Taeyeon, é uma cantora e compositora sul-coreana.</P>
      <a class="btn1-2 btn-1">
         Leia Mais
       </a>
    </div>
   </div>
   <aside>
      <div>
      <div class="img1">
      <img src="../imgs/image 1.png">
   </div>
   </aside>
   <div class="img2">
      <img src="../imgs/image 3.png">
   </div>
   <div class="img3">
      <img src="../imgs/image 2.png">
   </div>

   <div class="paragrafo">
      <p>open.spotify.com</p>
      <p>music.youtube.com</p>
      <p>instagram.com/taeyeon_ss</p>
   </div>
 </body>
 </html>